@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');

:root {
    --green: #5eb35e;
    --red: #e74c3c;
    --black: #333;
    --white: #fff;
    --light-bg: #f5f5f5;
    --light-color: #666;
    --border: .1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear; 
}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 20px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--black);
    overflow-x: hidden;
}

section {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1600px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    color:var(--black);
    text-transform: uppercase;
}

.btn {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    border-radius: .5rem;
}

.btn:hover {
    background-color:var(--black);
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.header .flex {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .header-link .header-span img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 2.2rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color:var(--red);
}
 
.header .flex .icons div {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    margin-left: 1.7rem;
}
 
.header .flex .icons div:hover {
    color: var(--red);
}
 
.header .flex .icons div span {
    font-size: 2rem;
}

.home .heading {
    font-size: clamp(1rem, 2.5rem);
}

.home .home-address {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.home .home-address .home-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #333;
}

.home .home-address .home-img {
    width: 45%;
    height: auto;
    margin: 30px auto;
}

.home .home-address .home-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.home .box-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
}

.home .box-container .box {
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.home .box-container .box-1 {
    grid-area: 1 / 1 / 2 / 2;
}
.home .box-container .box-2 {
    grid-area: 2 / 1 / 3 / 2;
}
.home .box-container .box-3 {
    grid-area: 1 / 2 / 3 / 3;
}

.home .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    color:var(--white);
    background-color: var(--red);
    border-radius: 50%;
    margin-bottom: .5rem;
}

.home .box-container .box h3 {
    margin: 1rem 0;
    color: var(--black);
    text-transform: capitalize;
    font-size: 2rem;
}

.home .box-container .box p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
}

.home .box-container .box .address-img-container {
    max-width: 100%;
}


 

#menu-btn {
    display: none;
}

.user-account {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    z-index: 110;
    overflow-y: scroll;
}

.user-account.active {
    right: 0;
}

.user-account #close-account {
    text-align: right;
    margin-bottom: 2.5rem;
}

.user-account #close-account span {
    cursor: pointer;
    font-size: 2rem;
    text-decoration: underline;
    color: var(--red);
}

.user-account #close-account span:hover {
    color: var(--black);
}

.user-account .user {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.user-account .user p {
    margin-top: 1.5rem;
    font-size: 2rem;
    color:var(--black);
}
 
.user-account .user p span {
    color: var(--green);
}

.user-account .display-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
}

.user-account .display-orders img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.user-account .display-orders p span {
    color: var(--red);
}

.user-account .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}

.user-account .flex form {
    flex: 1 1 40rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
}

.user-account .flex form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.user-account .flex form .box {
    width: 100%;
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    color: var(--black);
    background-color: var(--white);
}

.my-orders {
    position: fixed;
    top: 0;
    right: -110%;
    width: 35rem;
    height: 100vh;
    background-color: var(--light-bg);
    border-left: var(--border);
    z-index: 110;
    overflow-y: scroll;
}

.my-orders.active {
    right: 0;
}

.my-orders #close-orders {
    text-align: right;
    margin-bottom: 2.5rem;
}

.my-orders #close-orders span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--red);
    text-decoration: underline;
}

.my-orders #close-orders span:hover {
    color: var(--black);
}

.my-orders .title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--black);
}

.my-orders .box {
    margin: 1.5rem 0;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--border-shadow);
    background-color: var(--white);
}

.my-orders .box p {
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
}

.my-orders .box p span {
    color: var(--black);
}

.shopping-cart {
    position: fixed;
    top: 0; 
    right: -110%;
    width: 35rem;
    height: 100vh;
    background-color: var(--light-bg);
    border-left: var(--border);
    z-index: 110;
    overflow-y: scroll;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart #close-cart {
    text-align: right;
    margin-bottom: 2.5rem;
}

.shopping-cart #close-cart span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--red);
    text-decoration: underline;
}

.shopping-cart #close-cart span:hover {
    color: var(--black);
}

.shopping-cart .box {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.7rem 0;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.shopping-cart .box .fa-times {
    position: absolute;
    cursor: pointer;
    top: 1.2rem; 
    right: 1.2rem;
    font-size: 1.8rem;
    color: var(--red);
}

.shopping-cart .box .fa-times:hover {
    color: var(--black);
}

.shopping-cart .box img {
    width: 7rem;
}

.shopping-cart .box .content p {
    font-size: 1.8rem;
    color: var(--light-color);
}

.shopping-cart .box .content p span {
   color: var(--red);
}

.shopping-cart .box .content form {
    display: flex;
    margin-top: 1.5rem;
    gap: 1rem;
}

.shopping-cart .box .content form .qty {
    width: 8rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    border-radius: .5rem;
}

.shopping-cart .box .content form .fa-edit {
    cursor: pointer;
    width: 5.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
}

.shopping-cart .box .content form .fa-edit:hover {
    background-color: var(--black);
    color: var(--white);
}

.menu-bg {
    background: url(./assets/images/FDE/fde-4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-bg .menu-heading .slide-container {
    margin-top: 10rem;
}

.menu-bg .menu-heading .slide-container .slide {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.menu-bg .menu-heading .slide-container .slide.active {
    display: flex;
}

.menu-bg .menu-heading .slide-container .slide .image {
    flex: 1 1 40rem;
    animation: fadeRight .4s linear;
}

.menu-bg .menu-heading .slide-container .slide .image img {
    width: 100%;
}

.menu-bg .menu-heading .slide-container .slide .content {
    flex: 1 1 40rem;
    text-align: center;
    animation: fadeLeft .4s linear;
}

.menu-bg .menu-heading .slide-container .slide .content h3 {
    margin-bottom: 3rem;
    font-size: 7.5rem;
    line-height: 1;
    text-transform: capitalize;
    text-shadow: var(--box-shadow);
    color:var(--white);
}

.menu-bg .menu-heading .slide-container .slide .content .fa-angle-left,
.menu-bg .menu-heading .slide-container .slide .content .fa-angle-right {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    margin: 0 .5rem;
    font-size: 2rem;
    line-height: 4.8rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu-bg .menu-heading .slide-container .slide .content .fa-angle-left:hover,
.menu-bg .menu-heading .slide-container .slide .content .fa-angle-right:hover {
    color: var(--white);
    background-color: var(--red);
}

.about .heading {
    color: var(--white);
}

.about .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 90px;
    max-width: 1280px;
    height: auto;
    margin: 0 auto 35px;
    padding: 20px 15px;
    gap: 1.5rem;
}

.about .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.about .box-container .box img {
    width: 100%;
    margin-bottom: 2rem;
}

.about .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.about .box-container .box p {
    padding: 1rem 0;
    font-size: 1.8rem;
    line-height: 1.9;
    color: var(--light-color);
}

.heading,
.heading-subtitle,
.heading-price {
    color: var(--white);
    margin-left: 20px;
}

.heading-subtitle {
    font-size: 2.5rem;
}
.heading-price {
    font-size: 2rem;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 90px;
    max-width: 1280px;
    height: auto;
    margin: 0 auto 35px;
    padding: 20px 15px;
    gap: 1.5rem;
}

.menu .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.menu .box-container .box img {
    max-width: 85%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.menu .box-container .box .name {
    margin: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.menu .box-container .box p {
    font-size: 2rem;
    color: var(--black);
}

.order form {
    padding: 2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.order form .display-orders {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-width: 200px;
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 3rem 2rem;
    gap: 1.5rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
}
 

.order .display-orders .little-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100px;
    max-width: 300px;
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.order .display-orders .lttle-box img {
    width: 100%;
    margin-bottom: 2rem;
}

.order form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

.order form .flex .inputBox {
    width: 49%;
}

.order form .flex .inputBox span {
    font-size: 1.8rem;
    color: var(--light-color);
}

.order form .flex .inputBox .box {
    width: 100%;
    background-color: var(--light-bg);
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
}



/* Animations */
@keyframes fadeLeft {
    0% {
        transform: translateX(5rem);
    }
}

@keyframes fadeRight {
    0% {
        transform: translateX(-5rem);
    }
}


/* Media Queries  */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }

    .menu-bg .menu-heading .slide-container .slide .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 659px) {
    .about .box-container,
    .menu .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 624px) {
    .home .box-container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .home .box-container .box-1 {
        grid-area: 1 / 2 / 2 / 7;
    }
    .home .box-container .box-2 {
        grid-area: 2 / 2 / 3 / 7;
    }
    .home .box-container .box-3 {
        grid-area: 3 / 2 / 5 / 7;
    }
    .home .box-container .box-4 {
        grid-area: 5 / 2 / 7 / 7;
    }
}



@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .my-orders {
        width: 100%;
        border-left: 0;
    }

    .shopping-cart {
        width: 100%;
        border-left: 0;
    }
}

@media (max-width: 379px) {
    .about .box-container,
    .menu .box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}