.global-menu {
    min-height: 100vh;
    background-image: url(../assets/images/FDE/fde-2.jpg);
    background-position: center/contain;
    color: var(--white);
}

.heading,
.menu-description,
.heading-subtitle,
.heading-price,
.heading-delivery {
    text-shadow: 0 2px 0 #000000;
}

.menu-description {
    font-size: clamp(1.5rem, 2.2rem, 2.5rem);
    font-weight: bold;
    text-align: justify;
}

#menu .heading {
    text-align: center;
    font-size: clamp(1rem, 4.5rem, 4rem);
}

.heading-subtitle {
    font-size: 2.5rem;
}
.heading-price {
    font-size: 2rem;
}

#menu {
    width: 80%;
    margin: 0 auto;
}

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    height: auto;
    margin: 2rem auto;
    padding: 20px 15px;
    gap: 1.5rem;
}

.menu .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 312px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .name {
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}
.menu .box-container .box-img-container {
    width: 80%;
    height: 80%;
    margin: 1rem;
    border-radius: .5rem;
}
.menu .box-container .box img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.menu .box-container .box p {
    font-size: 1.5rem;
    color: var(--black);
}

@media (max-width: 659px) {
    .menu .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}