.global-menu {
    min-height: 100vh;
    background-image: url(../assets/images/FDE/fde-2.jpg);
    background-position: center/contain;
    color: var(--white);
}

.heading,
.menu-description,
.heading-subtitle,
.heading-price,
.heading-delivery {
    text-shadow: 0 2px 0 #000000;
}

.menu-description {
    margin: 20px 0;
    font-size: clamp(1.5rem, 2.2rem, 2.5rem);
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
}

#menu .heading {
    text-align: center;
    font-size: clamp(1rem, 4.5rem, 4rem);
}

.heading-subtitle {
    font-size: 2.5rem;
}
.heading-price {
    font-size: 2rem;
}

#menu {
    width: 80%;
    margin: 0 auto;
}

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    height: auto;
    margin: 2rem auto;
    padding: 20px 15px;
    gap: 1.5rem;
}

.menu .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .name {
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}

.menu .box-container .box .box-img-container {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 1rem;
    border-radius: .5rem;
}
.menu .box-container .box .box-img-container img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.menu .box-container .box .illustration-img {
    filter: contrast(80%);
}

.menu .box-container .box .illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
}

.menu .box-container .box p {
    font-size: clamp(1rem, 1.5rem, 1.8rem);
    color: var(--black);
}

.menu .box-container .box .bs {
    font-size: 1.2rem;
}

.menu .box-container .box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 312px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box-2 .name {
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}

.menu .box-container .box-2 .box-img-container {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 1rem;
    border-radius: .5rem;
}
.menu .box-container .box-2 .box-img-container img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

@media all and (max-width: 800px) {
    .menu .box-container .box {
        min-width: 260px;
        height: auto;
    }

    .menu .box-container .box .name {
        margin: 0;
        font-size: 2rem;
    }

    .menu .box-container .box p {
        font-size: 1.7rem;
    }

    .menu .box-container .box-2 {
        min-width: 212px;
        height: auto;
        padding: 2.5rem;
    }
    
    .menu .box-container .box-2 .name {
        margin: .5rem 0;
        font-size: 2rem;
    }
    
    .menu .box-container .box-2 .box-img-container {
        margin: 1rem;
    }
}